.Item {
    background-color: #F53803;
    position: relative;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.Item-p {
    margin: 10px 0px 10px 24px;
    width: calc(100% - 120px);
    line-height: 20px;
    color: #FFFFFF;
    font-size: 15px;
}

.Item-fa {
    margin: 10px 0px 10px 24px;
    width: calc(100% - 120px);
    line-height: 20px;
    color: #FFFFFF;
    font-size: 20px;
}

.Item-fa--active {
    color: greenyellow;
}

.Item-fa:hover {
    cursor: pointer;
}