/* Login */
.contenedor{
  display:flex;
  flex-direction: column;
  min-height:100%;
  z-index: 1;
}

.contenedor-2{
  display: flex;
  position: relative;
  top: -230px;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  min-height:100%;
  z-index: 2;
}

.image{
  position: relative;
  top: -213px;
  align-self: center;
  width: 250px;
  height: 250px;
  z-index: 3;
}

/* añadido para login */
.fila0 {
  height: 30vh; 
  background: linear-gradient(rgba(245,208,32,1), rgba(245,56,3,.45) 70.71%);
  opacity: 50%;
}

  /* X > Y == El operador ">" selecciona los elementos donde X es el padre de Y 
    En este caso en el archivo login.js:
    <div className="inputLogin"> == accede a App.css primero (padre, por prioridad: ya que esta antes)
    <InputEmail /> == accede a input.css despues (hijo, por prioridad: ya que es el siguiente)
   */
.inputLogin > .input {
  display: flex;
  width: 18rem;
  margin-bottom: 2rem;
}
/* fin Login */

/* Estilos generales */
.contenedorMenu {
  display: flex; /* Se muestran en horizontal, valor por defecto */
  justify-content: space-between; /* los separa */
  align-items: center;
  padding: 0 1rem 0 1rem; /* 0 0 0 0 {Arriba Derecha Abajo Izquierda} */
  /* opacity: 50%; */ /* añade el efecto de login */
}

.contenedorCuerpo {
  display: flex;
  flex-direction: column; /* Se muestran en vertical */
}

.tarjeta { /* Valores generales de la tarjeta, se añaden otros adelante */
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.botonReturn, .iconoReturn { 
  margin: 2rem 0 2rem 0; /* Da un espacio de margen superior e inferior */
  align-self: center; /* Centra los botones de 'regresar' */
}

.botonReturn, .iconoReturn, .botonSalir, .iconoSalir, .botonDueno { /* Aplica sombra a los botones */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
}

@media only screen and (max-width: 600px) { /* Movil */
  body {
    width: auto;
    height: auto;
    background: linear-gradient(rgba(245,208,32, .5), rgba(245,56,3,.3) 70.71%);
    /*background: url(../iconos/bg1.jpg) no-repeat; /* prueba */
    /*background-size: cover; /* Prueba */
  }

  .tarjetaMovil { /* Esta es la tarjeta principal de fondo */
    margin: .7rem;
    padding: 1rem; /* Con este arreglo el padding de nuevopedido */
    border-radius: 9px;
    background: rgba(250, 252, 239, 0.1);
    /* background-color: rgba(255, 0, 0, 0.13);*/ 
    /* background: linear-gradient(rgba(245,208,32, .5), rgba(245,56,3,.3) 70.71%); */
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .tarjeta { /* Propiedades añadidas para movil a tarjeta*/ /* Es tarjeta es la que va sobrepuesta */
    margin: 1.5rem 1rem 2rem .5rem;
  }

  .titulo {
    align-self: center;
    margin-top: 1rem;
  }

  .botonSalir, .botonReturn {
    display: none;
  }

  .iconosDueno { /* Pertenecen a la pantalla de InicioDueno */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .botonDueno {
    margin: 2rem 2rem 2rem 2rem;
  }

  .inputColumna { /* Este acomoda las columnas en movil de NuevoPedido */
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 601px) { /* Web */
  body {
    background: url(../iconos/bg1.jpg) no-repeat; /* prueba */
    background-size: cover; /* Prueba */
  }
  .contenedorMenu { /* Se aplica el color de fondo a la barra de menu */
    background: linear-gradient(rgba(245,208,32,.5), rgba(245,56,3,.2) 70.71%);
  }

  .tarjeta { /* Se aplican propiedades en la sección Web de la tarjeta */
    margin: 1.5rem 4rem 0 4rem;
    background: rgba(255, 255, 255, 0.233);
    text-align: center;
  }

  .titulo {
    margin: 1.5rem 0 0 4rem;
  }

  .iconoSalir, .iconoReturn { /* Ocultamos los iconos de movil */
    display: none;
  }

  /* añadidos */
  .iconosDueno {
    display: flex;
    justify-content: space-between;
  }

  .botonDueno {
    margin: 5rem 0 5rem 0;
    margin-left: 10%;
    margin-right: 10%;
  }
}
