.Item {
    background-color: #F53803;
    position: fixed;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.Item-head {
    background-color: #F53803;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.ul{
	margin: 10px;
	padding-left: 0rem;
	list-style: none;
}

.Item-p {
    margin: 10px 0px 10px 24px;
    width: calc(100% - 120px);
    line-height: 20px;
    color: #FFFFFF;
    font-size: 15px;
}

.Item-p-head {
    margin: 10px 0px 10px 24px;
    width: calc(100% - 120px);
    line-height: 20px;
    color: #FFFFFF;
    font-size: 15px;
	font-weight: bold;
}
