.input, .select {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 90%;
}

input::placeholder {
    color: rgb(175, 174, 174);
}

input:focus {
    outline: none !important;
    border-color: blue;
}

.nombreInput {
    margin-left: 1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.select {
    padding: 0.85rem;
    width: 90%;
}

/* test */
select {
    background: rgba(78, 199, 183, 0.137);
    border: none;
    color: black;
 }

 